.foodIcon{
    height: 200px;
    width: 200px;
}
body.light{
--backg : coral;
--box : rgba(61, 163, 194, 0.4);
overflow:hidden;
}
body.dark{
--backg : rgb(203, 89, 48);
--box : rgba(40, 108, 129, 0.4);
overflow:hidden;
}
.my {
    width: 200px;
    height: 65px;
    background-color: var(--backg);
    overflow: visible;
  }

#logo {
    top: 0;
    left: 0;
    width: 22%;
    position: absolute;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }


  
  #box::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
 #box {
    background: rgba(61, 163, 194, 0.4);
    border-radius: 55px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: scroll;
 }

#add{
  margin-top:15px;
}

#recipes
{
margin-left:100px;
}

#foodbar{
margin-left:100px;
max-width: 150px
}

#maxin{
  margin-left: 115px;
  width:225px;
}

#checkbox1{
  margin-left:100px;
}

#items{
  font-size:18px;
  color:steelblue;
}

h5 {

font-size: 25px;

}

#pref{
  margin-left: 100px;
  color:white;
  margin-top: 35px;
}
