.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
 justify-content: center;
 background-color: lightblue;
}


.auth-form-container, .signup-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5.5rem;
  border: 5px solid rgb(100, 186, 221);
  border-radius: 10px;
  background-color: rgba(76, 201, 243, 0.4);
  
}
  

  label {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  input {
    margin: -.4rem 0;
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 10px;
  }

  button {
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 59px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
    color: lightblue;
    font-weight: bold;

  }

  .link-btn {
    background: none;
    color: firebrick;
    text-decoration: underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  h2 {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*outline: 5px dotted whitesmoke;*/
  }

  ::placeholder {
    opacity: .5;
  }

 